/* ---------------------------------- */
/* --------Basic config-------------- */
/* ---------------------------------- */
html, body{
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus, a:active , .btn-link{
    text-decoration: none;
    color: inherit;
}

body{
    background: rgb(204, 204, 204);
    background: linear-gradient(90deg, rgb(204, 204, 204) 0%, rgb(235, 235, 235) 35%, rgb(255, 255, 255) 100%);
}

/* ---------------------------------- */
/* --------Header style-------------- */
/* ---------------------------------- */
.header{
    width: 100%;
    min-height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 2%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    transition: 200ms;
}
.logo:hover{
    transform: scale(1.1);
}
.menu{
    width: 50%;
    text-align: end;
}
.menu-list{
    list-style-type: none;
    margin: 0;
    margin-right: 5%;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: end;
}
.menu-item{
    float: left;
    margin: 2%;
    font-weight: bold;
    transition: 100ms;
}

.menu-item > a{
    display: block;
}


/* ---------------------------------- */
/* --------Content style------------- */
/* ---------------------------------- */
.content{
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

/* ---------------------------------- */
/* --------Footer style-------------- */
/* ---------------------------------- */
.footer{
    background-color: rgb(77, 77, 77);
    min-height:max-content;
    max-height: 6vh;
    width: 100%;
    color: rgb(175, 175, 175);
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btm-item{
    margin: 1%;
    min-width: 20vw;
    align-self: center;
    transform: translate(0, 10%);
}
.contact-icon{
    font-size: 1.5em;
    transform: translate(0, 20%);
    transition: 200ms;
}
.contact-icon:hover{
    transform: scale(1.1);
}
.right{
    text-align: end;
}

/* Custom classes */
.hauto{
    height: 80vh;
}
.button-dropdown-login{
    display: block;
}
.disp{
    display: none;
    position: absolute;
    width: 25%;
    height: fit-content;
    background: linear-gradient(90deg, rgb(250, 250, 250) 0%, rgb(255, 255, 255) 100%);;
    border-radius: 0 0 0 5%;
    right: 0;
    z-index: 1;
}
.button-dropdown-login:hover .disp{display: block;}