{% extends 'base.html' %}
{% load static %}

<!-- CRISPY FORMS -->
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/main_auth.css' %}">
{% endblock css %}

{% block content %}
<div class="dashboard d-flex justify-content-around align-items-center">
    <div class="col-md-5 center-all-column">
        <h4 class="mb-4">Zarejestruj się</h4>
        <form action="" class="mt-4 mb-4 d-flex justify-content-start align-items-center flex-column w-75">
            {% csrf_token %}
            <div class="w-75">
                {% crispy registerForm %}
            </div>
        </form>
        <div class="w-75 d-flex align-items-center justify-content-around">
            <button type="button" class="btn btn-link">Wyczyść formularz</button>
            <button type="submit" class="btn btn-outline-secondary">Utwórz użytkownika</button>
        </div>
    </div>
    <div class="col-md-5 center-all-column h-75">
        abcd
    </div>
</div>
{% endblock %}