{% extends 'panel.html' %}
{% load static %}
<!-- CRISPY FORMS -->
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'modules/chat/admin/main_adm_panel.css' %}">
{% endblock %}

{% block js %}
<script type="module" src="{% static 'modules/chat/admin/classes/Changer.mjs' %}"></script>
<script type="module" src="{% static 'modules/chat/admin/index_adm_panel.js' %}"></script>
{% endblock %}

{% block main-content %}
<div class="w-100 h-100">
    <div class="row h-50 justify-content-around align-items-center g-2">
        <div class="col-md-6 h-90 d-flex justify-content-center align-items-center flex-column">
            <h5>Czaty użytkowników</h5>
            <div class="h-100 w-100 border border-secondary border-2 rounded-3 d-flex justify-content-top">
                <div class="w-100 h-100 mh-100 overflow-auto">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Użytkownik</th>
                            <th scope="col">Data założenia</th>
                            <th scope="col">Ostatnia wiadomość</th>
                            <th scope="col">Czat</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for chatroom in chat_rooms %}
                          <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ chatroom.createdBy }}</td>
                            <td>{{ chatroom.creationDate|date:'Y-m-d H:i:s' }}</td>
                            <td>{{ chatroom.message_set.last.date|date:'Y-m-d H:i:s' }}</td>
                            <td><a href="/panel/chat/{{ chatroom.name }}"><i class="fa-solid fa-right-to-bracket fa-beat ms-2"></i></a></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
              </div>
        </div>
        <div class="col-md-6 h-90 d-flex justify-content-center align-items-center flex-column">
            <h5>Statystyki czatów</h5>
            <div class="h-100 mh-100 overflow-auto w-100 border border-secondary border-2 rounded-3 d-flex justify-content-center align-items-center">
              <ul class="w-100 list-group bg-transparent">
                <li class="list-group-item bg-transparent d-flex justify-content-between align-items-center">
                  Liczba wiadomości od klientów
                  <span class="badge bg-primary rounded-pill" id="clientMessagesNumber">{{ clientMessages|length }}</span>
                </li>
                <li class="list-group-item bg-transparent d-flex justify-content-between align-items-center">
                  Liczba nieprzeczytanych wiadomości od klientów
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item bg-transparent d-flex justify-content-between align-items-center">
                  Liczba wiadomości od obsługi
                  <span class="badge bg-primary rounded-pill">{{ staffMessages|length }}</span>
                </li>
                <li class="list-group-item bg-transparent d-flex justify-content-between align-items-center">
                  Data ostatniej wiadomości od klientów
                  <span class="badge bg-primary rounded-pill">{{ clientMessages.first.date|date:'Y-m-d H:i:s' }}</span>
                </li>
                <li class="list-group-item bg-transparent d-flex justify-content-between align-items-center">
                  Średni czas odpowiedzi
                  <span class="badge bg-primary rounded-pill">1-12-2023</span>
                </li>
                <li class="list-group-item bg-transparent d-flex justify-content-between align-items-center">
                  Średni czas odpowiedzi
                  <span class="badge bg-primary rounded-pill">1-12-2023</span>
                </li>
                <li class="list-group-item bg-transparent d-flex justify-content-between align-items-center">
                  Liczba wiadomości od użytkowników dzisiaj
                  <span class="badge bg-primary rounded-pill">1-12-2023</span>
                </li>
                <li class="list-group-item bg-transparent d-flex justify-content-between align-items-center">
                  Liczba wiadomości od użytkowników w tym miesiącu
                  <span class="badge bg-primary rounded-pill">1-12-203</span>
                </li>
              </ul>
            </div>
        </div>
    </div>
    <div class="row h-50 justify-content-center align-items-center g-2">
        <div class="col-md-5 h-90 w-100 d-flex justify-content-center align-items-center flex-column">
            <h5>Najnowsze wiadomości</h5>
            <div class="h-100 w-100 mh-100 border border-secondary border-2 rounded-3 overflow-auto">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Użytkownik</th>
                    <th scope="col">Data</th>
                    <th scope="col">Treść wiadomości</th>
                    <th scope="col">Odpowiedz</th>
                  </tr>
                </thead>
                <tbody>
                  {% for message in clientMessages %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ message.user.username }}</td>
                    <td>{{ message.date|date:'Y-m-d H:i:s' }}</td>
                    <td>{{ message.text }}</td>
                    <td><a href="/panel/chat/{{ message.chatroom.name }}"><i class="fa-solid fa-message"></i></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}