{% extends 'panels.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/main_client.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/index_client.js' %}"></script>
{% endblock %}

{% block menu-links %}
<li class="nav-item"><a href="#" class="nav-link text-white active"><i class="fa-solid fa-box me-3"></i>Zamówienia</a></li>
<li class="nav-item"><a href="#" class="nav-link text-white"><i class="fa-solid fa-dungeon me-3"></i>Produkty</a></li>
<li class="nav-item"><a href="#" class="nav-link text-white"><i class="fa-solid fa-sack-dollar me-3"></i></i>Wycena</a></li>
<li class="nav-item"><a href="#" class="nav-link text-white"><i class="fa-solid fa-comment me-3"></i>Czat</a></li>
<li class="nav-item"><a href="#" class="nav-link text-white"><i class="fa-solid fa-lock me-3"></i>Status gwarancji</a></li>
<li class="nav-item"><a href="#" class="nav-link text-white"><i class="fa-solid fa-file me-3"></i>Reklamacje</a></li>
{% endblock %}

{% block menu-user-links %}
<li><a href="#" class="dropdown-item">Strona główna</a></li>
<hr>
<li><a href="#" class="dropdown-item">Ustawienia konta</a></li>
<li><a href="#" class="dropdown-item">Profil</a></li>
<li><a href="#" class="dropdown-item">Wyloguj</a></li>
{% endblock %}

{% block main-content %}
<button class="button-click">We se naciśnj</button>
{% endblock %}