{% extends 'panel.html' %}
{% load static %}
<!-- CRISPY FORMS -->
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'modules/chat/main_lobby.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'modules/chat/index_lobby.js' %}"></script>
{% endblock %}

{% block main-content %}
<div class="w-100 h-100 d-flex justify-content-center align-items-center flex-column">
    <!-- :start: Message room -->
    <div class="w-100 h-75 d-flex justify-content-center align-items-center flex-column">
        <div class="w-100 d-flex justify-content-start" id="messages-place">
            <!-- Place for WebSockets messages -->
        </div>
    </div>
    <!-- :end: Message room -->
    <!-- :start: User message input -->
    <div class="w-100 h-25 d-flex justify-content-center align-items-center flex-row">
        <form action="#" id="messageForm">
            {{ messageForm|crispy }}
        </form>
        <div class="ms-2">
            <button type="submit" form="messageForm" class="btn btn-primary">Wyślij</button>
        </div>
    </div>
    <!-- :end: User message imput -->
</div>
{% endblock %}