.message-box{
    max-width: 60%;
    min-width: 10%;
    width: fit-content;
}
.message-window{
    height: 85%;
}
.input-window{
    height: 15%;
}

#messages-place {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#messages-place::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}