{% extends 'panels.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/main_client.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/index_client.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row w-100 h-100">
    <div class="col-md-2 d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
        <div class="w-100 d-flex justify-content-center align-items-center">
            <a href="/"><h5>JANUSZEX</h5></a>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto h-100">
            <li class="nav-item"><a href="#" class="nav-link text-white active"><i class="fa-solid fa-box me-3"></i>Zamówienia</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white"><i class="fa-solid fa-dungeon me-3"></i>Produkty</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white"><i class="fa-solid fa-sack-dollar me-3"></i></i>Wycena</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white"><i class="fa-solid fa-comment me-3"></i>Czat</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white"><i class="fa-solid fa-lock me-3"></i>Status gwarancji</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white"><i class="fa-solid fa-file me-3"></i>Reklamacje</a></li>
        </ul>
        <hr>
        <div class="w-100 d-flex justify-content-center align-items-center">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" id="dropdownButton" data-bs-toggle="dropdown" aria-expanded="false"><img src="{{ user.logo }}" class="rounded-circle me-3" alt="">&nbsp;<strong>{{ user.username }} &nbsp;</strong></a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <li><a href="#" class="dropdown-item">Strona główna</a></li>
                    <hr>
                    <li><a href="#" class="dropdown-item">Ustawienia konta</a></li>
                    <li><a href="#" class="dropdown-item">Profil</a></li>
                    <li><a href="#" class="dropdown-item">Wyloguj</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-10 h-100">
        <a href="">asdas</a>
    </div>
</div>
{% endblock %}

